body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.wrapper {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

/* End Common Section */

header {
    overflow: hidden;
}

header h1 {
    float: left;
    color: #555;
    font-size: 160%;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    float: left;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 130%;
    font-weight: 600;
    color: #555;
}

nav ul li a:hover {
    color: #aaa;
}

/* End Navigation */

section:after {
    content: " ";
    display: block;
    clear: both;
}

section div.container img {
    width: 33.333%;
    float: left;
    opacity: 1;
    box-sizing: border-box;
    border: 1px solid transparent;
    transition: opacity 0.5s;
}

section div.container img:hover {
    opacity: 0.7;
}

section {
    margin-bottom: 3%;
}

section h2 {
    text-align: center;
}

footer {
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
}

footer p {
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
    }

    header h1 {
        margin-left: 3%;
    }

    #menu-icon {
        width: 30px;
        height: 26px;
        background: url(images/menu.png) no-repeat center;
        position: absolute;
        top: 2%;
        right: 5%;
        z-index: 100;
    }

    nav ul {
        display: none;
        position: absolute;
        right: 5%;
        top: 0%;
        padding: 3% 7%;
        background: #eee;
        width: 200px;
        text-align: center;
        z-index: 10;
    }

    nav ul li {
        width: 90%;
        padding: 5%;
        margin: auto;
    }

    nav ul li a {
        padding: 5% 20%;
    }

    nav ul li a:hover {
        border-bottom: 1px solid #aaa;
    }

    nav:hover ul {
        display: block;
    }

    section div.container img {
        display: block;
        float: none;
        width: 100%;
        height: auto;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .wrapper {
        width: 100%;
    }
    header h1 {
        margin-left: 3%;
    }
    nav {
        margin-right: 3%;
    }
}